{% extends "marketing/base.html" %}

{% block title %}New Email Campaign{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container-sm position-absolute top-50 start-50 translate-middle p-4">
        <div class="row mx-auto">
            <div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xxl-3"></div>
            <div class="col-md shadow rounded-3 bg-body p-5 m-2"  id="content">
                <h2 class="text-center">New Email Campaign</h2><br>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <div class="d-grid gap-3 text-center">
                        <button type="submit" class="btn btn-primary">Send Campaign</button>
                        <div id="FormHelp" class="form-text">OBS: This campaign <strong>won't</strong> be stored on the database.</div>

                    </div>
                </form>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xxl-3"></div>
        </div>

    </div>
{% endblock%}