{% extends "marketing/base.html" %}

{% block title %}Inscreva-se!{% endblock %}
{% block head %}
    <style>
        #content {
                padding: 10px;
                margin: 10px;
            }
    </style>
{% endblock %}

{% block main_div_open %}
<div id="main" class="bg-image container-fluid"
     style="{% load static %} background-image: url('{% static 'marketing/media/' %}{{associated_image_filename}}');
     height: 100vh; background-attachment: fixed; background-size: cover; background-position: center;">
{% endblock %}

{% block content %}
    <div class="container-sm position-absolute top-50 start-50 translate-middle p-5">
        <div class="row mx-auto">
            <div class="col-md-3"></div>
            <div class="col-md shadow rounded-3 bg-body p-5 mb-10"  id="content">
                <h2 class="text-center">Baixe agora o seu e-book!</h2><br>
    {% block form %}
        <form method="post">
            {% csrf_token %}
              <div class="mb-3">
                <label for="InputFname" class="form-label">Seu primeiro nome</label>
                <input type="text" class="form-control" id="InputFname" name="fname" required>
              </div>
              <div class="mb-3">
                <label for="InputEmail" class="form-label">Seu melhor email</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" name="email" required>
                <div id="emailHelp" class="form-text">Não vamos compartilhar o seu email com mais ninguém.</div>
              </div>
            <div class="d-grid gap-3 text-center">
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <div id="FormHelp" class="form-text">Ao clicar em Confirmar, você aceita os nossos <a href="/terms-of-use" target="_blank">Termos de Uso</a>.</div>
            </div>
        </form>
    {% endblock %}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}